Source: scheduled-reboot
Priority: optional
Maintainer: Kodiak Firesmith <firesmith@protonmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: https://github.com/kfiresmith/scheduled-reboot
Vcs-Git: https://github.com/kfiresmith/scheduled-reboot
Package: scheduled-reboot
Version: 0.12
Section: utils
Architecture: amd64
Depends: apt, bsdutils, mailutils
Description: Script-driven framework for performing automated patching & rebooting systems
